---
import background from '../assets/background.svg';
---

<div id="container">
	<img id="background" src={background.src} alt="" fetchpriority="high" />
	<main>
			<h1>
				Walters Counseling Services
			</h1>
		
	<div id="aboutme" class="box">
		<h2>Mariah Walters
			<br>
			Clinical Social Work/Therapist, MA, LISW, PsyD</h2>
		<p>
			Dr. Mariah Walters specializes in Trauma and PTSD, ADHD, and family conflict.
			She works with Correctional Officers and is a certified BWC therapy provider. LGBTQ friendly.
			She received her doctor of psychology from Illinois School of Professional Psychology in 2014.
			<br>
			<br>
			She sees individuals, couples, and families, and accepts some insurance. 
			Please reach out to us via email or phone to discuss fees and scheduling.
		</p>
	</div>
</main>
</div>

<style>
	#background {
		
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		filter: blur(100px);
	}

	#container {
		font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
		height: 100%;
		display: flex;
    	flex-direction: column;
    	align-items: center;
	}

	main {
		height: 100%;
		

	h1 {
		font-size: 35px;
		margin-top: 1.5em;
		text-align: center;
	}

	h2 {
		margin: 0 0 1em;
		font-weight: normal;
		color: #422a68;
		font-size: 25px;
		text-align: center;
	}

	p {
		color: #4b5563;
		font-size: 16px;
		line-height: 24px;
		letter-spacing: -0.006em;
		margin: 0;
		text-align: justify;
	}

	code {
		display: inline-block;
		background:
			linear-gradient(66.77deg, #f3cddd 0%, #f5cee7 100%) padding-box,
			linear-gradient(155deg, #4224ba 0%, #3a0e3e 18%, #f5cee7 45%) border-box;
		border-radius: 8px;
		border: 1px solid transparent;
		padding: 6px 8px;
	}

	.box {
		padding: 20px;
		background: rgba(255, 255, 255, 1);
		border-radius: 16px;
		border: 3px solid white;
	}

	#aboutme {
		padding: 40px;
		max-width: 400px;
		text-decoration: none;
		transition: background 0.2s;
		backdrop-filter: blur(50px);
    	display: flex;
    	flex-direction: column;
	
	}

	#aboutme:hover {
		background: rgba(255, 255, 255, 0.55);
	}

	@media screen and (max-height: 368px) {
		#aboutme {
			display: none;
		}
	}

	@media screen and (max-width: 768px) {
		#container {
			display: flex;
			flex-direction: column;
			
		}

		#aboutme {
			right: 16px;
			left: 16px;
			max-width: 100%;
		}

		h1 {
			line-height: 1.5;
		}
	}
</style>
