<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Walters Counseling Services</title>
	</head>
	<body>
		<slot />	
		<footer>
			<div class="contact-info">
				<h2>Contact Us</h2>
					<div class="address">
					<h3>Address</h3>
					<p>670 Meridian Way, Suite 151</p>
					<p>Westerville, Ohio 43082</p>
				</div>
				<div class="email">
					<h3>Email</h3>
					<p>walterscounselingservices@gmail.com</p>
				</div>
				<div class="phone">
					<h3>Phone</h3>
					<p>(615) 594-0155</p>
				</div>
			</div>
		</footer>	
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
	footer {
		background-color: #422a68;
		width: 30%;
        right: 0;
		position: fixed;
		top: 0;
		color: #f5cee7;
		margin-top: 0;
		height: 100%;
		font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
	}
	.contact-info {
		display: flex;
		flex-direction: column;
        height: 100%;
		max-width: 300px;
		margin: 0 auto;
		justify-content: center;
	}
</style>
